* {
  margin: 0;
  padding: 0;
}

a {
  color: #666;
  text-decoration: none;
}

body {
  padding: 20px 0 20px 150px;
}

.fl{
  float: left;
}

.fr {
  float: right;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  border: 0;
  text-align: center;
  width: 937px;
}

.table-title {
  font-family: fantasy;
  font-size: 30px;
  font-weight: bolder;
  color: pink;
}

th, td {
  border: 1px solid #CADEFF;
}

th {
  background: #e2f2ff;
  border-top: 3px solid #a7cbff;
  height: 30px;
  position: relative;
}

td {
  padding: 10px;
  color: #444;
  text-align: center;
  vertical-align: middle;
}

tbody tr:hover {
  background: RGB(238,246,255);
}

.album-name {
  position: relative;
  top: 31px;
}

.check-box:hover {
  cursor: pointer;
  color: red;
  text-decoration: underline;
}

.button {
  -moz-appearance: button;
  -webkit-appearance: button;
  appearance: button;
  width: 20px;
  height: 22px;
  vertical-align: middle;
  text-align: center;
}

.button:hover {
  color: #f50;
  z-index: 3;
  border-color: #f60;
  cursor: pointer;
}

.count {
  width: 60px;
  height: 12px;
  line-height: 15px;
  border: 1px solid #aaa;
  color: #343434;
  text-align: center;
  padding: 4px 0;
  background-color: #fff;
  z-index: 2;
}

.subtotal {
  width: 150px;
  color: red;
  font-weight: bold;
}

a:hover {
  cursor: pointer;
  color: red;
  text-decoration: underline;
}

img {
  width: 100px;
  height: 80px;
  border: 1px solid #ccc;
  margin-right: 10px;
  float: left;
}

.foot {
  width: 935px;
  margin-top: 10px;
  color: #666;
  height: 48px;
  border: 1px solid #c8c8c8;
  background-color: #eaeaea;
  background-image:linear-gradient(RGB(241,241,241),RGB(226,226,226));
  position: relative;
  z-index: 8;
}

.foot div, .foot a {
  line-height: 48px;
  height: 48px;
}

.foot .select-all {
  width: 100px;
  height: 48px;
  line-height: 48px;
  padding-left: 5px;
  color: #666;
}

.foot .closing {
  border-left: 1px solid #c8c8c8;
  width: 100px;
  text-align: center;
  color: #000;
  font-weight: bold;
  background: RGB(238,238,238);
  cursor: pointer;
}

.foot .total{
  margin: 0 20px;
  cursor: pointer;
}

.foot  #price-total, .foot #selectedTotal {
  color: red;
  font-family: "Microsoft Yahei";
  font-weight: bold;
}

.foot {
  cursor: pointer;
  position: relative;
  top:-3px;
  margin-left: 0;
}
